@import url("https://fonts.googleapis.com/css?family=Roboto");
body{
    margin:auto;
    margin-top: 20vh;
    display: grid;
    grid-template-rows: 1fr 2fr;
    border: 3px solid black;
    border-radius: 7px;
    background-color: lightblue;
    justify-content: center;
    max-width: fit-content;
    max-height: fit-content;
}

.num-pad{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-content: center;
    align-items: center;
    text-align: center; 
    background-color: gray;
}

#screen{
    border-bottom: 3px solid black;
    text-align: center;
    background-color: white;
    font-size: x-large;
    font-family: Roboto;
    font-weight: bold;

}

button{
    margin: auto;
    margin-top: 1%;
    border-radius: 7px;
    min-width: 10ch;
    font-size: large;
    font-family: Roboto;
    font-weight: bold;
    background-color: lightgrey;
}